.venv/
venv/
__pycache__/
*.pyc
.idea/

.env
*.session
downloads/
*.egg-info/
rag_index/

project_for_chatgpt.txt
etransmit.py
READ_ME.txt

*.log
.idea/
dataset/
downloads/
*.ps1

experiments/
notes/

